<div class="sidebar">
  <div class="logo-text">
    <h1>Fitness App</h1>
    <h3>Sign Up</h3>
  </div>
  <h4><a href="/">Login</a></h4>
</div>
<div class="log">
  <form action="/signup" method="POST">
    Username: <input type="text" name="username" placeholder="JoeSmith">
    <br>
    Email: <input type="email" name="email" placeholder="joe@fitnessapp.com">
    <br>
    Password: <input type="password" name="password" placeholder="Password">
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
