<div class="firstpage">
  <div class="logo-text">
    <h1 style="text-align: center;">Fitness App</h1>
    <h2>Sign in</h2>
  </div>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder=" Username">
        <br>
        <input type="password" name="password" placeholder=" Password">
        <input type="submit" name="submit" value="login">
    </form>
    <br>
    <div class="nav-link">
    <h4>Don't have an account? <a href="/signup">Sign up!</a></h4>
    </div>
</div>