<% if @error != nil %>
  <%= @error %>
<% end %>
<h1>Fitness App</h1>
<h3>Login</h3>
<form action="/login" method="POST">
  Username: <input type="text" name="username" placeholder="JoeSmith">
  <br>
  Password: <input type="password" name="password" placeholder="Password">
  <br>
  <input type="submit" value="Login" id="submit">
</form>

<h4>Don't have an account? <a href="/signup">Sign up!</a></h4>