<!DOCTYPE html>
  <head>
    <title>FitnessApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/clear.css" />
    <style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
    </style>
  </head>
  <body>
  
        <div class="message">
          <%= flash[:notice] %>
          <br>
          <%= flash[:navigation] %>
        </div>
        <%= yield %>

  </body>
</html>
